@font-face {
    font-family: 'myFirstFont';
    src: url(/OpenSans-Regular.ttf);
}

html {
    background-color: #f9fafc;
}

.font {
    font-family: 'myFirstFont';
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    height: 30px;
}

#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}
ul.navitems {
    margin: 0;
    padding: 0;

}
.logo {
    display: inline-flex;
    justify-content: flex-start;
}

ul.otherstuff {
    display: inline-flex;
    justify-content: flex-end;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

li {
    margin-left: 8px;
    margin-right: 8px;
}

#hireus {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.bottomhalf {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.content {
    display: inline-flex;
    width: 40%;
    padding-right: 25px;
    padding-left: 4px;
    border-left: 5px solid grey;
    height: 100%;
}

.textbox {
    font-size: 25px;
}

#container {
    display: inline-flex;
    width: 50%;
    position: relative;
}

#circle1 {
    height: 325px;
    width: 325px;
    border-radius: 50%;
    background-color: rgba(247, 136,167, 0.6);
    position: relative;
    left: 10%;
    top: 40px;
}

#circle2 {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: rgba(247, 193, 162, 0.7);
    position: relative;
    right: 2%;
    top: 170px;
}

#circle3 {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: rgba(207, 130, 213, 0.6);
    position: relative;
    right: 18%;
    top: 70px;
}

#chirpus {
    display: block;
    width: 100%;
    font-size: 65px;
}

footer {
    position: fixed;
    bottom: 10px;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    margin-left: 40%;
}

button#scroll {
    height: 40px;
    width: 120px;
    border-radius: 35%;
    background-color: black;
    color: white;
    margin-top: 30px;
    font-size: 15px;
}
